<!DOCTYPE HTML>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
    <title>Publish--CommunityMapsiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/community.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="http://libs.baidu.com/jquery/2.2.4/jquery.min.js"></script>

</head>
<body class="body">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">CommunityMapsiz</span>
            </button>
            <a class="navbar-brand" href="#">CommunityMapsiz</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">Publish</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}">我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=d5ee626b65a27b26396d&redirect_uri=http://localhost:8270/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Publish</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Topic(necessary)</label>
                    <input type="text" class="form-control" id="title" placeholder="Topic" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Content(necessary)</label>
                    <textarea class="form-control" cols="30" rows="10" id="description"
                              name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">Add tag</label>
                    <input type="text" class="form-control" id="tag" placeholder="Use a comma to isolate tags" name="tag">
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div th:if="${error != null}" class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"></div>
                        <button type="submit" class="btn btn-success btn-publish col-lg-3 col-md-12 col-sm-12 col-xs-12">Publish</button>
                    </div>
                </div>

            </form>
        </div>
        <hr>
        <div class="col-lg-3">
            <h3>Guidance</h3>
        </div>
    </div>
</div>
</body>
</html>